*
{
    box-sizing: border-box;
    margin: auto;
    margin-top:0.5rem;
}

@font-face {
    font-family: 'Digimon Basic';
    font-style: normal;
    font-weight: normal;
    src: local('Digimon Basic'), url('../fonts/DigimonBasic.woff') format('woff');
    }

.base
{
    background-color: #202FAF;
    height: 419px;
    width:498px;
    padding-top:40px;
}

#decorative
{
    position: relative;
    background-color: rgb(61, 65, 150, 0.3);
    width: 497px;
    height: 100px;
    margin-left: 1px;
    margin-top: -20px;
}

.screen
{
    position: absolute;
    background-color: #373737;
    height: 324px;
    width: 456px;
    margin-top: -85px;
    margin-left: 21px;
}

.screen img
{
    width:162px;
    height:260px;
    margin-top:25px;
    margin-left:20px;
}


#speach-bubble
{
    width: 300px;
    margin: 50px auto;
    background: #B62626;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;
    bottom: 285px;
    left: 33px;
    font-family: Digimon Basic;
    color:#33D61A;
}

@keyframes slidein {
    0% {opacity: 0;}

    100%{transition:ease;}
}

#bubble-text::before
{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #B62626;
    border-top: 10px solid #B62626;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}

.nameInput
{
    background-color: #3D4196;
    margin-top: -133px;
    margin-left: -21px;
    margin-right: -21px;
    padding-bottom:62px;
}

.form
{
    margin-top: 111px;
    margin-left: 334px;
}

.form ::placeholder
{
    color: #33D61A;
    font-family: Digimon Basic;
}

.userInput
{
    position: absolute;
    width: 394px;
    height: 30px;
    background-color: #B62626;
    font-family: Digimon Basic;
    color: #33D61A;
    margin-left: -288px;
    margin-top: -41px;
}

.submitBtn
{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    background-color: #B62626;
    color:#33D61A;
    border-radius: 30px;
    width: 101px;
    height: 30px;
    margin-left: -144px;
    margin-top: 18px;
    font-family: Digimon Basic;
}