*
{
    box-sizing: border-box;
    margin: auto;
    margin-top:0.5rem;
    font-family: Digimon Basic;
}

@font-face {
    font-family: 'Digimon Basic';
    font-style: normal;
    font-weight: normal;
    src: local('Digimon Basic'), url('../fonts/DigimonBasic.woff') format('woff');
    }


.container
{
    display: block;
    box-sizing: border-box;
    height: 500px;
    background-color: #160f64;
    margin-top: -20px;
    clip-path:ellipse(78% 100% at 51.5% 0%);
}

.container h1
{
color:#0F6416;
padding-top: 161px;
text-align: center;
}

.screen img
{
    position: absolute;
    height: 260px;
    margin-top: -153px;
    margin-left: 389px;
}

.sky
{
    position: relative;
    top: -208px;
    width: 77%;
    height:100%;
    -webkit-transform: rotateZ(45deg);
    transform:rotate(45deg);
}

.star
{
    position: absolute;
    left:50%;
    top:50%;
    height:20px;
    border-radius: 885px;
    background: linear-gradient(-45deg, 
    #eef0f5, rgba(0, 0, 255, 0));

    -webkit-filter: drop-shadow(0 0 6px #eef1f8);
    filter:drop-shadow(0 0 6px #d7dff0);
    -webkit-animation:tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
    animation:tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

.star::before,
.star::after{
    content:"";
    position: absolute;
    top:calc(50% - 1px);
    right:0;
    height:2px;
    background: linear-gradient(-45deg,
    rgba(0, 0, 255, 0),
    #eaeef8,
    rgba(0, 0, 255, 0));
}

.star::after
{
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1)
{
    top: calc(73% - -119px);
    left: calc(13% - 43px);
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}
.star:nth-child(2) {
    top: calc(49% - -43px);
    left: calc(-23% - 16px);
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}
.star:nth-child(2)::before,
.star:nth-child(2)::after {
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}
.star:nth-child(3) {
    top: calc(50% - 60px);
    left: calc(50% - 173px);
  -webkit-animation-delay: 6000ms;
  animation-delay: 6000ms;
}
.star:nth-child(3)::before,
.star:nth-child(3)::after {
  -webkit-animation-delay: 6000ms;
  animation-delay: 6000ms;
}
.star:nth-child(4) {
  top: calc(50% - -29px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(4)::before,
.star:nth-child(4)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(5) {
  top: calc(50% - 146px);
  left: calc(50% - 112px);
  -webkit-animation-delay: 8000ms;
  animation-delay: 8000ms;
}
.star:nth-child(5)::before,
.star:nth-child(5)::after {
  -webkit-animation-delay: 8000ms;
  animation-delay: 8000ms;
}
.star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 9000ms;
  animation-delay: 9000ms;
}
.star:nth-child(6)::before,
.star:nth-child(6)::after {
  -webkit-animation-delay: 9000ms;
  animation-delay: 9000ms;
}
.star:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  -webkit-animation-delay: 10000ms;
  animation-delay: 10000ms;
}
.star:nth-child(7)::before,
.star:nth-child(7)::after {
  -webkit-animation-delay: 10000ms;
  animation-delay: 10000ms;
}

.star:nth-child(8) {
    top: calc(50% - 320px);
    left: calc(50% - 100px);
    -webkit-animation-delay: 10000ms;
    animation-delay: 10000ms;
  }
  .star:nth-child(8)::before,
  .star:nth-child(8)::after {
    -webkit-animation-delay: 10000ms;
    animation-delay: 10000ms;
  }

@keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }

  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }

  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }

@keyframes tail {
    0%{
        width:0;
    }
    30%
    {
        width:30%;
    }
    100%
    {
        width:0;
    }
}

@-webkit-keyframes shooting
{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%
    {
        -webkit-transform: translateX(270px);
        transform: translateX(270px);
    }
}

@keyframes shooting {
    0%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%
    {
        -webkit-transform: translateX(270px);
        transform: translateX(270px);
    }
}


#speach-bubble
{
    width: 300px;
    margin: 50px auto;
    background: #B62626;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;
    bottom: 119px;
    left: 141px;
    font-family: Digimon Basic;
    color:#33D61A;
}

@keyframes slidein {
    0% {opacity: 0;}

    100%{transition:ease;}
}

#bubble-text::before
{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #B62626;
    border-top: 10px solid #B62626;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}

.form
{
    margin-top: 111px;
    margin-left: 334px;
}

.form ::placeholder
{
    color: #33D61A;
   
}

.userInput
{

    position: absolute;
    width: 394px;
    height: 30px;
    background-color: #B62626;
    font-family: Digimon Basic;
    color: #33D61A;
    margin-left: -55px;
    margin-top: -41px;
}

.submitBtn
{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    background-color: #B62626;
    color:#33D61A;
    border-radius: 30px;
    width: 101px;
    height: 30px;
    margin-left: 91px;
    margin-top: 18px;
}