@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

* {
  box-sizing: border-box;
  margin: auto;
  margin-top: 0.5rem;
  font-family: Syne;
}

body
{
  background-color: #160f64;
}

@font-face {
  font-family: digital-7;
  src: url(../fonts/digital-7/digital-7.ttf);
}

.container
{
    display: block;
    margin-top:-16px;
    box-sizing: border-box;
    height: 100vh;
}

.container h1
{
color:#0F6416;
padding-top: 161px;
text-align: center;
}

.base
{
  position: absolute;
  margin-top: -688px;
  margin-left: 781px;
  object-fit: contain;
}

.header-image
{
  background-image: url(../images/Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2ad85;
  color: whitesmoke;
  height: 186px;
  padding-left: 22rem;
  padding-right: 17rem;
  margin-left: -250px;
  box-shadow: inset 3px 3px 24px 5px black;
}

.header-image img
{
  max-width: 100%;
  max-height: 100%;
}

.screen
{
position: absolute;
padding-left: 322px;
margin-left: -250px;
z-index: 1;
width:30px;
}



.screen img
{
    position: absolute;
    height: 260px;
    left: 245px;
    top: -74px;
}

.sky
{
    position: relative;
    width: 24%;
    height:100%;
    -webkit-transform: rotateZ(45deg);
    transform:rotate(45deg);
    top: -27px;
    left: 312px;
}

.sky2
{
  position: relative;
  left: 207px;
  top: -679px;
  width: 24%;
  height: 55%;
  -webkit-transform: rotateZ(45deg);
  transform: rotate(51deg);
}

.sky3
{
  position: relative;
  left: -308px;
  top: -1110px;
  width: 24%;
  height: 55%;
  -webkit-transform: rotateZ(45deg);
  transform: rotate(51deg);
}

.star
{
    position: absolute;
    left:50%;
    top:50%;
    height:20px;
    border-radius: 885px;
    background: linear-gradient(-45deg, 
    #eef0f5, rgba(0, 0, 255, 0));

    -webkit-filter: drop-shadow(0 0 6px #eef1f8);
    filter:drop-shadow(0 0 6px #d7dff0);
    -webkit-animation:tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
    animation:tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

.star::before,
.star::after{
    content:"";
    position: absolute;
    top:calc(50% - 1px);
    right:0;
    height:2px;
    background: linear-gradient(-45deg,
    rgba(0, 0, 255, 0),
    #eaeef8,
    rgba(0, 0, 255, 0));
}

.star::after
{
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1)
{
  top: calc(50% - -180px);
  left: calc(13% - 641px);
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  -webkit-animation-delay: 4000ms;
  animation-delay: 4000ms;
}
.star:nth-child(2) {
  top: calc(49% - -43px);
  left: calc(-23% - 183px);
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}
.star:nth-child(2)::before,
.star:nth-child(2)::after {
  -webkit-animation-delay: 5000ms;
  animation-delay: 5000ms;
}
.star:nth-child(3) {
    top: calc(50% - 60px);
    left: calc(50% - 173px);
  -webkit-animation-delay: 6000ms;
  animation-delay: 6000ms;
}
.star:nth-child(3)::before,
.star:nth-child(3)::after {
  -webkit-animation-delay: 6000ms;
  animation-delay: 6000ms;
}
.star:nth-child(4) {
  top: calc(50% - -29px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(4)::before,
.star:nth-child(4)::after {
  -webkit-animation-delay: 7000ms;
  animation-delay: 7000ms;
}
.star:nth-child(5) {
  top: calc(50% - 146px);
  left: calc(50% - 112px);
  -webkit-animation-delay: 8000ms;
  animation-delay: 8000ms;
}
.star:nth-child(5)::before,
.star:nth-child(5)::after {
  -webkit-animation-delay: 8000ms;
  animation-delay: 8000ms;
}
.star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 9000ms;
  animation-delay: 9000ms;
}
.star:nth-child(6)::before,
.star:nth-child(6)::after {
  -webkit-animation-delay: 9000ms;
  animation-delay: 9000ms;
}
.star:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  -webkit-animation-delay: 10000ms;
  animation-delay: 10000ms;
}
.star:nth-child(7)::before,
.star:nth-child(7)::after {
  -webkit-animation-delay: 10000ms;
  animation-delay: 10000ms;
}

.star:nth-child(8) {
    top: calc(50% - 320px);
    left: calc(50% - 100px);
    -webkit-animation-delay: 10000ms;
    animation-delay: 10000ms;
  }
  .star:nth-child(8)::before,
  .star:nth-child(8)::after {
    -webkit-animation-delay: 10000ms;
    animation-delay: 10000ms;
  }

@keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }

  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }

  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }

@keyframes tail {
    0%{
        width:0;
    }
    30%
    {
        width:30%;
    }
    100%
    {
        width:0;
    }
}

@-webkit-keyframes shooting
{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%
    {
        -webkit-transform: translateX(270px);
        transform: translateX(270px);
    }
}

@keyframes shooting {
    0%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%
    {
        -webkit-transform: translateX(270px);
        transform: translateX(270px);
    }
}


.dateTime 
{
  position: absolute;
  margin-top: -179px;
  color: white;
  left: 14px;
  font-size: 30px;
  font-family: digital-7;
}

.day
{
  position: absolute;
  margin-top: -149px;
  color: white;
  left: 13px;
  font-size: 20px;
  font-family: digital-7;
}

.head-text
{
  width:435px;
  margin-left: -218px;
  margin-top: -114px;
  color:white;
  text-shadow: 9px 3px 9px #f2ad85;
}

@keyframes slidein {
    0% {opacity: 0;}

    100%{transition:ease;}
}

#bubble-text::before
{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #B62626;
    border-top: 10px solid #B62626;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}

.backDrop
{
  background: #327AD9;
  height: 94px;
  position: absolute;
  width: 624px;
  top: 443px;
  left: 531px;
  background: linear-gradient(270deg, #052996, #295eff, #0e43e3);
  background-size: 1000% 1000%;

  animation: backDropanim 30s ease infinite;
}

@keyframes backDropanim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.form
{
    margin-top: -274px;
}

.form ::placeholder
{
  color: rgb(255, 255, 255,0.5) ;
  font-size: 17px;
}

.userInput
{

  position: absolute;
  border-radius: 20px;
  width: 488px;
  height: 30px;
  background-color: #594AFF;
  color:white;
  margin-left: 576px;
  margin-top: -190px;
  font-size: 17px;
}

.due_input
{
  position: absolute;
  margin-top: -173px;
  margin-left: 733px;
  width: 227px;
}

.submitBtn
{
  position: absolute;
  margin-top: -208px;
  margin-left: 1098px;
  width: 55px;
  height: 30px;
  border: none;
  font-size: 20px;
  background-color: #8C5D04;
  color: white;
}

.Sort
{
  position: absolute;
  margin-top: -176px;
  margin-left: 1098px;
  width: 55px;
  height: 30px;
  border: none;
  font-size: 20px;
  background-color: #8C5D04;
  color: white;
}

.todo-list {
  list-style: none;
  margin-bottom: 20px;
}

.todo-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  color:#160f64;
}

.done span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  display: none;
}

.tick {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -28px;
  margin-top: -17px;
}

.tick::before {
  content: '✓';
  font-size: 20px;
  display: none;
  color: white;
}

.done .tick::before {
  display: inline;
}

.delete-todo {
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 508px;
  margin-top: -29px;
  font-family: 'open sans';
  font-size: 19px;
}

.edit-todo
{
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 456px;
  margin-top: -29px;
  font-family: 'open sans';
  font-size: 19px;
}

.calandar-todo
{
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 456px;
  margin-top: 24px;
  font-family: 'open sans';
  font-size: 19px;
  width: 114px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list{

  padding-right: 584px;
  margin-right: 732px;
  margin-left: 531px;
  padding-top: 242px;
  margin-top: -137px;
  padding-bottom: 22px;
  background: #E3A80E;
}

.list h2
{
  margin-top: -224px;
  text-decoration: underline;
  color: #160f64;
}

#calandar
{
  display: none;
  position: absolute;
  margin-left: 746px;
  margin-top: -284px;
  background-color: #594AFF;
  color: white;
}

.editInput
{
  display:none;
  position: absolute;
  border-radius: 20px;
  width: 488px;
  height: 30px;
  background-color: #594AFF;
  color: white;
  margin-left: 576px;
  margin-top: -190px;
  font-size: 17px;
}